body{
    background-color: aqua;
}

header{
    font-size:large;
}

h1 p{
    font-family: cursive;
    text-align: center;
}

h2{
    font-style: italic;
}

footer{
    font-size: larger;
    font-family: fantasy;
}